<div class="TermsAndConditions-container">
  <h1 class="TermsAndConditions-title"> Terms And Conditions </h1>
  <% if @terms_and_conditions != "" %>
    <p class="TermsAndConditionsDisplay-text"> <%= @terms_and_conditions %> </p>
  <% else %>
    <p class=""> Yet to be Updated </p>
  <% end %>
</div>
