<div class="TermsAndConditions-container">
  <h1 class="TermsAndConditions-title"> Terms And Conditions </h1>
  <%= form_with(url: "/TermsAndConditionsUpdate", method: "post", class: "TermsAndConditions-form") do %>
    <%= text_area_tag(:terms_and_conditions, @terms_and_conditions, placeholder: "Write the Terms And Conditions here !!", class: "TermsAndConditions-text") %>
    <%= submit_tag("Update !", class: "form-submit TermsAndConditions-submit", data: {disable_with: "Updating.."}) %>
  <% end %>
</div>
